.card {    
    
    
    position: relative;
    transition: all 1s;
    
    
    h2 {
        font-size: 16px;
        
    }

    p {
        font-size: 12px;
        line-height: 1.8em;
        color: grey;        
    }

    svg {
        padding-right: 10px;
        
        &:hover {
            transform: rotate(1080deg);
            transition: all 2s;
            
        }    
    }
}