#contact {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;

     .contacts div{
      font-family: "Fjalla One";
      font-size: 100px;
      margin: 0;
      text-transform: uppercase;
    }

    @media only screen and (max-width: 786px) {
      .container {
        width: 100%;
        min-height: auto;
        padding: 20px 0;

        .two-columns {
          display: flex;
          flex-flow: column wrap;
        }
      }

      .row {
        display: block;
        width: 100%;
        margin: 0 auto;

        h3 {
          font-size: 50px;
          text-align: center;
        }

        .image {
          position: relative;
          width: 80%;
          margin: 1em auto;
          border: 5px solid black;
          transition: 0.5s;
          box-shadow: 8px 8px 0 black;
        }

        .wrapper {
          width: 100%;
        }
      }

      .raf-btn {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
    }

    a {
      color: black;
      text-decoration: none;
      transition: 200ms;

      &:hover {
        background: black;
        box-shadow: 12px 0px 0px 0px black, -12px 0px 0px 0px black;
        color: white;
      }
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  textarea,
  input[type] {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid lightgray;
    transition: 500ms;
    background: transparent;

    &:focus {
      outline: none;
      border-bottom: 2px solid black;
    }
  }

  ::placeholder {
    color: lightgray;
  }

  input[type="submit"] {
    background: black;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      border: 2px solid black;
      background: white;
      color: black;
    }
  }
}

@media only screen and (max-width: 786px) {
  #contact {
   
    .row {
      display: flex;
      flex-flow: column wrap;
        justify-content: center;
        align-content: center;
      .contacts {
        display: none;
      }
    }
  }
}
