#scroll-btn span {
  cursor: pointer;
  span {
    background: black;
    position: fixed;
    bottom: 80px;
    right: 5%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid black;
    border-radius: 100%;
    box-sizing: border-box;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: "";
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: scroll-down 3s infinite;
      animation: scroll-down 3s infinite;
      box-sizing: border-box;
    }
  }
}

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.4);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 786px) {
  #scroll-btn span {
    cursor: pointer;
    span {
      background: black;
      position: absolute;
      bottom: 5%;
      right: 45%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 1px solid black;
      border-radius: 100%;
      box-sizing: border-box;
    }
  }
}